body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 800px;
    max-width: 90%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image {
    flex: 1;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

.forms {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms h2 {
    margin-bottom: 20px;
    color: #333;
}

.forms form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.forms input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Consistent button design */
.forms button, .action-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Full width for both buttons */
    margin-top: 10px; /* Space between buttons */
}

.forms button:hover, .action-button:hover {
    background-color: #0056b3;
}


/* Adjust button style on small screens */
@media (max-width: 600px) {
    .forms button, .action-button {
        width: auto; /* Adjust width for small screens */
        margin: 10px auto; /* Center buttons */
    }
}

.forms a {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
}

.forms a i {
    margin-left: 5px;
    transition: margin-left 0.3s;
}

.forms a:hover i {
    margin-left: 10px;
}

#message {
    margin-top: 10px;
    font-size: 14px;
}
